@import url("https://fonts.google.com/specimen/Poppins");
@import url("https://fonts.google.com/specimen/Poppins?sidebar.open=true&selection.family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: "Poppins,arial";
  width: 100%;
  overflow-x: hidden;
}

.side-nav {
  height: 100%;
  padding: 4rem 3rem;
  top: 0;
  float: right;
  right: 0;
  width: 60vw;
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1) transform;
  transform: translateX(60vw);
  background-color: #555555;
  position: fixed;
  overflow-x: hidden;
  transition: 0.1s visibility ease-out;
}

.side-nav .nav-items {
  position: sticky;
}

.side-nav .close-nav {
  background-color: pink;
  width: 20px;
  height: 20px;
  margin-bottom: 4rem;
}

.side-nav .close-nav::after, .side-nav .close-nav::before {
  position: absolute;
}

.side-nav.show {
  transform: translateX(0);
}

.loader,
.loader1,
.loader2,
.loader3 {
  padding: 10px;
  position: absolute;
  position: fixed;
  z-index: 110;
  height: 100px;
  width: 100px;
  margin: auto;
  left: 0;
  right: 0;
  animation-name: spin;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.loader img,
.loader1 img,
.loader2 img,
.loader3 img {
  width: 100%;
  height: 100%;
}

.loader {
  top: 0;
  animation-timing-function: linear;
}

.loader1 {
  top: 140px;
  animation-timing-function: ease;
}

.loader2 {
  top: 280px;
  animation-timing-function: ease-in;
}

.loader3 {
  top: 0;
  bottom: 0;
  animation-timing-function: bezier(0, 0.2, 0.8, 1);
  animation-duration: 3s;
  animation-name: spin3;
}

.hide {
  display: none;
}

.show {
  visibility: visible;
}

.shadow {
  box-shadow: 0 -11.6px 113.6px -54px rgba(0, 0, 0, 0.021), 0 -7px 137px -54px rgba(0, 0, 0, 0.03), 0 3.2px 138.3px -54px rgba(0, 0, 0, 0.039), 0 33px 91px -54px rgba(0, 0, 0, 0.06);
}

a {
  text-decoration: none;
  color: white;
  font-size: large;
}

p {
  text-align: center;
  line-height: 2em;
  color: #555555;
}

h1 {
  color: white;
  text-transform: uppercase;
}

h2 {
  color: #b1976b;
}

img {
  background-repeat: no-repeat;
}

.app {
  background-color: #fff;
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1) transform;
}

.app.show-nav {
  transform: translateX(-60vw);
}

.app.close {
  transform: translateX(60vw);
}

.container {
  min-height: 70vh;
  width: 100%;
}

.navbar {
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 1.5rem;
  z-index: 10;
  overflow-x: hidden;
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1) transform;
}

.navbar .bana {
  height: 50px;
  width: 50px;
}

.navbar .bana img {
  height: 100%;
  width: 100%;
}

.navbar.show-nav {
  transform: translateX(-60vw);
}

.navbar.close {
  transform: translateX(60vw);
}

.navbar .nav-btn {
  height: 50px;
  width: 50px;
  display: inline-block;
  border: 3px solid #b1976b;
  border-radius: 2px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  cursor: pointer;
  transform: scale(0.8);
  margin-right: 20px;
}

.navbar .nav-btn:after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 2px;
  border: 3px solid #b1976b;
  animation: hamburger_puls 1s ease infinite;
}

.navbar .nav-btn .bar {
  height: 2px;
  width: 30px;
  position: relative;
  background-color: #b1976b;
  z-index: -1;
}

.navbar .nav-btn .bar::after,
.navbar .nav-btn .bar::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  background-color: #b1976b;
  transition: 0.3s ease;
  transition-property: top, bottom;
}

.navbar .nav-btn .bar::after {
  top: 8px;
}

.navbar .nav-btn .bar::before {
  bottom: 8px;
}

.hero {
  min-height: 70vh;
  padding: 10rem 2em;
  color: white;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  background-image: url("/img/hero.jpg");
  z-index: 1;
}

.hero p {
  color: white;
}

.hero .welcome {
  background-color: transparent;
  display: flex;
  justify-content: center;
  position: relative;
}

.hero .welcome .line {
  position: absolute;
  align-self: center;
  background-color: #b1976b;
  height: 1px;
  width: 100px;
  bottom: 0;
}

.hero .contact-btn {
  padding: 10px;
  display: inline-block;
  text-align: center;
  width: 200px;
  align-self: center;
  background-image: linear-gradient(to bottom, #b1976b, rgba(177, 151, 107, 0.9));
  text-transform: uppercase;
  border-radius: 4px;
}

.hero h1 {
  text-transform: uppercase;
  text-align: center;
}

.hero h2 {
  display: block;
  position: relative;
  color: #b1976b;
  text-transform: uppercase;
  text-align: center;
  font-weight: lighter;
  padding: 20px 0px;
}

.about {
  display: flex;
  position: relative;
  justify-content: center;
}

.about .about-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  position: absolute;
  min-height: 50vh;
  width: 80vw;
  transform: translateY(-3rem);
  z-index: 2;
  text-align: start;
}

.about .about-content .signature {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.about .about-content .signature img {
  display: block;
  width: 200px;
  margin: 20px;
}

.about .about-content p {
  text-align: start;
}

.about .about-content .ceo {
  text-align: center;
  text-transform: uppercase;
}

.about .about-content .heading {
  padding: 30px 0;
}

.about .about-content .heading h1 {
  color: #555555;
  padding-bottom: 16px;
}

.about .about-content .heading:after {
  content: "";
  position: absolute;
  width: 50px;
  height: 4px;
  background-color: #b1976b;
}

.legal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 0 4rem;
}

.legal h2 {
  font-size: medium;
  color: #555555;
}

.legal h1 {
  color: #000;
  padding: 1rem 0 6rem 0;
  text-transform: capitalize;
}

.legal .legal-card {
  display: flex;
  flex-flow: column;
}

.legal .legal-card h2 {
  color: #555555;
  font-size: medium;
  text-align: center;
  margin: 20px;
}

.legal .legal-card p {
  font-size: large;
  font-weight: 400;
}

.legal .legal-card img {
  align-self: center;
  width: 60px;
  height: 60px;
  left: 0;
  right: 0;
}

.legal .legal-card .learn-more {
  color: #b1976b;
  text-transform: uppercase;
  text-align: center;
  font-size: medium;
  font-weight: bold;
  margin: 20px;
}

.bg {
  background-size: cover;
  background-position: center;
}

.why-us {
  position: relative;
  z-index: 1;
  min-height: 100vh;
  padding: 4rem 2rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  background: url("/img/why.jpg") no-repeat;
  transform: scale(1);
}

.why-us h1 {
  text-transform: capitalize;
  font-size: 36px;
  text-align: center;
}

.why-us h4 {
  color: #b1976b;
  font-weight: 100;
  padding: 1rem;
}

.why-us p {
  color: white;
  padding: 1.6rem;
  font-weight: 600;
  text-align: start;
}

.why-us .counting {
  align-items: center;
  text-align: center;
}

.why-us .counting .numbers {
  font-size: 48px;
  color: white;
}

.why-us .counting p {
  color: #b1976b;
}

.hero::after,
.why-us::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.8;
  z-index: -1;
}

@keyframes hamburger_puls {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.4);
  }
}

@keyframes spin {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(360deg);
  }
}

@keyframes spin3 {
  0%,
  100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateY(3600deg);
  }
}
