@import "config.scss";
$side-nav-width: 230px;

body {
  overflow-x: hidden;
  font-family: "Poppins,arial";
  width: 100%;
  overflow-x: hidden;
}
.loader {
  padding: 10px;
  position: absolute;
  position: fixed;
  z-index: 110;
  height: 150px;
  width: 150px;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  img {
    width: 100%;
    height: 100%;
  }
  animation: spin 2s linear infinite;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.shadow {
  box-shadow: 0 -11.6px 113.6px -54px rgba(0, 0, 0, 0.021),
    0 -7px 137px -54px rgba(0, 0, 0, 0.03),
    0 3.2px 138.3px -54px rgba(0, 0, 0, 0.039),
    0 33px 91px -54px rgba(0, 0, 0, 0.06);
}
a {
  text-decoration: none;
  color: white;
  font-size: large;
}
p {
  text-align: center;
  line-height: 2em;
  color: $text-color;
}
h1 {
  color: white;
  text-transform: uppercase;
}
h2 {
  color: $primary-color;
}
img {
  background-repeat: no-repeat;
}
.app {
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1) transform;
  // overflow-x: hidden;
}
.app.show-nav {
  transform: translateX(-$side-nav-width);
}
.side-nav {
  height: 100%;
  top: 0;
  float: right;
  right: -$side-nav-width;
  width: $side-nav-width;
  background-color: $text-color;
  position: absolute;
  overflow-x: hidden;
  display: none;
  z-index: 100;
}
.side-nav.show {
  display: block;
}
.container {
  min-height: 70vh;
  width: 100%;
}

.navbar {
  padding: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 2rem;
  .bana {
    height: 50px;
    img {
      height: 40px;
      width: 40px;
    }
  }
  .nav-btn {
    height: 50px;
    width: 50px;
    display: inline-block;
    border: 3px solid $primary-color;
    border-radius: 2px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    cursor: pointer;
    transform: scale(0.8);
    margin-right: 20px;
    &:after {
      position: absolute;
      content: "";
      height: 100%;
      width: 100%;
      border-radius: 2px;
      border: 3px solid $primary-color;
      animation: hamburger_puls 1s ease infinite;
    }
    .bar {
      height: 2px;
      width: 30px;
      position: relative;
      background-color: $primary-color;
      z-index: -1;
    }
    .bar::after,
    .bar::before {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      background-color: $primary-color;
      transition: 0.3s ease;
      transition-property: top, bottom;
    }
    .bar::after {
      top: 8px;
    }
    .bar::before {
      bottom: 8px;
    }
  }
}
.hero {
  min-height: 70vh;
  p {
    color: white;
  }
  padding: 10rem 2em;
  color: white;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  .welcome {
    background-color: transparent;
    display: flex;
    justify-content: center;
    position: relative;
    .line {
      position: absolute;
      align-self: center;
      background-color: $primary-color;
      height: 1px;
      width: 100px;
      bottom: 0;
    }
  }
  .contact-btn {
    padding: 10px;
    display: inline-block;
    text-align: center;
    width: 200px;
    align-self: center;
    background-image: linear-gradient(
      to bottom,
      $primary-color,
      rgba($color: $primary-color, $alpha: 0.9)
    );
    text-transform: uppercase;
    border-radius: 4px;
  }
  h1 {
    text-transform: uppercase;
    text-align: center;
  }
  h2 {
    display: block;
    position: relative;
    color: $primary-color;
    text-transform: uppercase;
    text-align: center;
    font-weight: lighter;
    padding: 20px 0px;
  }

  background-image: url("/img/hero.jpg");
  z-index: 1;
}

.about {
  display: flex;
  position: relative;
  justify-content: center;
  .about-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    position: absolute;
    min-height: 50vh;
    width: 80vw;
    transform: translateY(-3rem);
    z-index: 2;
    text-align: start;

    .signature {
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      img {
        display: block;
        width: 200px;
        margin: 20px;
      }
    }
    p {
      text-align: start;
    }
    .ceo {
      text-align: center;
      text-transform: uppercase;
    }
    .heading {
      padding: 30px 0;
      h1 {
        color: $text-color;
        padding-bottom: 16px;
      }
      &:after {
        content: "";
        position: absolute;
        width: 50px;
        height: 4px;
        background-color: $primary-color;
      }
    }
  }
}
.legal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 0 4rem;
  h2 {
    font-size: medium;
    color: $text-color;
  }
  h1 {
    color: #000;
    padding: 1rem 0 6rem 0;
    text-transform: capitalize;
  }
  .legal-card {
    display: flex;
    flex-flow: column;
    h2 {
      color: $text-color;
      font-size: medium;
      text-align: center;
      margin: 20px;
    }
    p {
      font-size: large;
      font-weight: 400;
    }
    img {
      align-self: center;
      width: 60px;
      height: 60px;
      left: 0;
      right: 0;
    }
    .learn-more {
      color: $primary-color;
      text-transform: uppercase;
      text-align: center;
      font-size: medium;
      font-weight: bold;
      margin: 20px;
    }
  }
}
.bg {
  background-size: cover;
  background-position: center;
}
.why-us {
  position: relative;
  z-index: 1;
  min-height: 100vh;
  padding: 4rem 2rem;
  h1 {
    text-transform: capitalize;
    font-size: 36px;
    text-align: center;
  }
  h4 {
    color: $primary-color;
    font-weight: 100;
    padding: 1rem;
  }
  p {
    color: white;
    padding: 1.6rem;
    font-weight: 600;
    text-align: start;
  }
  .counting {
    align-items: center;
    text-align: center;
    .numbers {
      font-size: 48px;
      color: white;
    }
    p {
      color: $primary-color;
    }
  }
  display: flex;
  flex-flow: column;
  align-items: center;
  background: url("/img/why.jpg") no-repeat;
  transform: scale(1);
}
.hero::after,
.why-us::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.8;
  z-index: -1;
}
// animations
@keyframes hamburger_puls {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.4);
  }
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
// end animations
