@import "config.scss";
$sideNavWidth: 250px;

body {
  overflow-x: hidden;
  background-color: $bodybg-color;
  .app {
    transition: 0.5s cubic-bezier(0.91, 0.06, 0.47, 1.05) transform;
  }
  .app .side-nav {
    height: 100vh;
    float: right;
    right: 0;
    position: absolute;
    background-color: black;
    color: white;
    padding: 1rem;
    width: $sideNavWidth;
    transition: 0.5s ease transform;
    z-index: -1;
    transform: translateX($sideNavWidth);
  }
  .app.show-nav {
    transform: translateX(-$sideNavWidth);
    &:after {
      content: "";
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      position: absolute;
      background-color: black;
      opacity: 0.3;
    }
  }

  .btn {
    position: absolute;
    right: 0;
    border: none;
    padding: 10px;
    margin: 10px;
    color: $primary-color;
  }
  .navbar {
    padding: 10px 1rem;
    display: flex;
    right: 0;
    left: 0;
    position: fixed;
    flex-direction: row;
    align-items: center;
    align-content: space-between;
    background-color: $text-color;
    .bana {
      display: block;
      img {
        width: 50px;
        height: 50px;
        display: block;
      }
    }
    .nav-btn {
      width: 50px;
      height: 50px;
      display: block;
      border: solid 2px $text-color;
      border-radius: 4px;
      background-color: $bodybg-color;
    }
  }
  main {
    width: 100%;
    z-index: 1;
    position: relative;
    display: grid;
    grid-template-columns: 100vw;
    grid-column: auto;
    grid-template-areas:
      "hero"
      "about"
      "legal"
      "why us"
      "consultation"
      "partners"
      "testimonial"
      "contact"
      "articles"
      "partners"
      "footer";
    .container {
      min-height: 50vh;
      width: 100%;
    }

    #hero {
      grid-area: hero;
    }
    #about {
      grid-area: about;
    }
    #legal {
      grid-area: legal;
    }
    #why-us {
      grid-area: why-us;
    }
    #consultation {
      grid-area: consultation;
    }
    #partners {
      grid-area: partners;
    }
    #testimonial {
      grid-area: testimonial;
    }
    #contact {
      grid-area: contact;
    }
    #articles {
      grid-area: articles;
    }
    #footer {
      grid-area: footer;
    }
  }
}
