@import "config.scss";
$sideNavWidth: 250px;

body {
  overflow-x: hidden;
  background-color: $bodybg-color;
  .app {
    transition: 0.5s cubic-bezier(0.91, 0.06, 0.47, 1.05) transform;
  }
  .app .side-nav {
    height: 100vh;
    float: right;
    right: 0;
    position: absolute;
    background-color: black;
    color: white;
    padding: 1rem;
    width: $sideNavWidth;
    transition: 0.5s ease transform;
    z-index: -1;
    transform: translateX($sideNavWidth);
  }
  .app.show-nav {
    transform: translateX(-$sideNavWidth);
    &:after {
      content: "";
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      position: absolute;
      background-color: black;
      opacity: 0.3;
    }
  }

  .btn {
    position: absolute;
    right: 0;
    border: none;
    padding: 10px;
    margin: 10px;
    color: $primary-color;
  }

  main {
    z-index: 1;
    position: relative;
    display: grid;
    grid-template: 1fr / auto;
    grid-template-areas:
      "navbar"
      "hero"
      "about"
      "legal"
      "why us"
      "consultation"
      "partners"
      "testimonial"
      "contact"
      "articles"
      "partners"
      "footer";
    .container {
      min-height: 50vh;
      width: 100%;
    }
    #navbar {
      grid-area: navbar;
      .navbar {
        padding: 10px 1rem;
        display: flex;
        right: 0;
        left: 0;
        position: fixed;
        flex-direction: row;
        align-items: center;
        align-content: space-between;
        background-color: $text-color;
        .bana {
          display: block;
          img {
            width: 50px;
            height: 50px;
            display: block;
          }
        }
        .nav-btn {
          width: 50px;
          height: 50px;
          display: block;
          border: solid 2px $text-color;
          border-radius: 4px;
          background-color: $bodybg-color;
        }
      }
    }
    #hero {
      grid-area: hero;
    }
    #about {
      grid-area: hero;
    }
    #legal {
      grid-area: legal;
    }
  }
}
